html, body{
    height: 100%;
    background-color:rgb(152, 141, 216);
}
header{
    background-color: white;
}
footer{
    background-color: white;
    height: fit-content;
    max-height: 100px;
}
#cabecera
{
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#enfocat{
    
    height: fit-content;
    width: fit-content;
}
#title
{
    font-size: 400%;
    text-align: left;
    color: blueviolet;
}

#subTitle
{
    text-align: right;
}
#divPeticion{
    text-align: right;
}
#nuevaPeticion{
    height: fit-content;
    width: fit-content;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5%;
    margin-bottom: 3.5%;
}

#indice{
    height: 100%;
    width: 100%;
    
}
.cuadradoC{
    width:50vh;
    max-width:400px;
    height:50vh;
    max-height:400px;
    position: relative;
    margin: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.C{
    font-size: 500%;
    color: white;
     
}
#c1{
    background-image: url("imagenes/c1.jpg");
    
}
#c2{
    background-image: url("imagenes/c2.jpg");
}

.CTitle{
    text-align: center;
    min-height: 25%;
    width: 100%;
    font-size: 150%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.5);
}
.separador
{ 
    margin: 0px;
    border: none;
    opacity: 1;
    border-top: 1px solid blueviolet;
    border-bottom: 3px solid blueviolet;   
}
#divLabelAtras{
    background-color:rgb(152, 141, 216);
}

#divAtras{
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5%;
}
#indicePagC{
    height: 100%;
    width: 100%;
}
.tituloC{
    padding: 2%;
}
.Sesion{
    padding-left: 4%;
}

.descargable{
    background-color: rgb(255, 255, 255);
    width:50vh;
    max-width:150px;
    height:50vh;
    max-height:150px;
    position: relative;
    margin: 5vh;
    border-radius: 25%;
}
.descargable:hover .icon{
    max-width:85px;
    max-height:85px;
}
.icon{
    width:50vh;
    max-width:75px;
    height:50vh;
    max-height:75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.docuText{
    background-color: black;
    border-radius: 5%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1%;
    color: white;
    width: 125px;
}
.docuText:hover{
    width: fit-content;
    overflow: auto;
    
}

.pdfFile{
    background-image: url("imagenes/pdfIcon.png");
}
.txtFile{
    background-image: url("imagenes/txtIcon.png");
}
.urlFile{
    background-image: url("imagenes/urlIcon.png");
}
.jsFile{
    background-image: url("imagenes/jsIcon.png");
}
.htmlFile{
    background-image: url("imagenes/htmlIcon.png");
}

.cuadradoC:hover {
    color: blueviolet;
  }

#footerIMG{
    max-height: 90px;
}
#bloqueUsuario{
    padding: 28%;
    height: fit-content;
    
}
#redondaInicial{
    height: 30vh;
    max-height: 45px;
    max-width: 45px;
    width: 30vh;
    border-radius: 100%;
    background-color: blueviolet;
    position: relative;
}
#letraInicial{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 150%;
}
#name{
    padding-top:40%;
    font-weight: bolder;
    font-size: 100%;
    width: fit-content;
    white-space: nowrap;
}


