html {
  height: 100%;
}

body {
  background-image: url("/imagenes/fondoLogin.jpg");
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

#registro {
  background: #c7d0d869;
  
  height: 600px;
  width: 600px;
  border-radius: 20px;
}
hr { 
    width: 100px;
    margin:auto ;
    border: 3px solid purple;
}

.tamano{
    width: 400px;
}
label{
    margin-top: 20px; 
    text-align: center;
    font-weight: 600;
}
#btn-reg{
    border-radius: 20px;
}

